.my-bg-black {
    background-color: black;
}

header{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid>div>img{
    width: 5%;
}


.my-nav-list li,
.my-nav-list li a {
    display: inline-block;
    font-size: 18px;
    list-style: none;
    text-decoration: none;;
}

ul.my-nav-list {
    margin: 0;
    padding: 0;
    
}

.my-nav-list li {
    padding: 0 10px
}

.my-nav-list i{
    font-weight: medium;
    font-size: 14px;
    padding-left: 10px;
    color: lightgray;
}

.my-nav-list button{
    border-radius: 20px;
    padding: 5px 20px;
    color: white;
    background-color: #363636;
    border-color: #363636;
}

.pad-over-nav{
    padding-top: 89.9px;
}

main>div>img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}

.my-section-base{
    padding: 20px 0;
}

.my-section-medium{
    padding: 40px 0;
}

.my-section-large{
    padding: 50px 0;
}

.my-section-hero{
    padding-top: 200px;
}

.section-title{

}

.section-subtitle{
    font-size: 1.3rem;
    margin-bottom: 30px;

}

.section-super{
    font-size: .9rem;
    
}