.my-bg-black {
    background-color: black;
}

header{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid>div>img{
    width: 5%;
}


.my-nav-list li,
.my-nav-list li a {
    display: inline-block;
    font-size: 18px;
}

ul.my-nav-list {
    margin: 0;
    padding: 0;
    
}
